:root {
  --primary: #4628ff;
  --warning: #ffd028;
  --danger: #eb3f27;
  --success: #75fa83;
  --white: #fdfdfd;
  --dark: #181717;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.btn--primary--outline {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.btn--medium {
  padding: 10px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 15px 20px;
  font-size: 20px;
}
